* {
  box-sizing: border-box;
  font-family: Inter;
}

body {
  margin: 0;
  background-color: #efefef;
  overflow: hidden;
}

.main {
  display: flex;
  max-width: 1600px;
  height: 100vh;
  margin: auto;
  background-color: #fff;
}

.no-styles {
  background-color: unset;
  border: none;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

@import "./src/styles/authPage.scss";
@import "./src/styles/dialoguesComponent.scss";
@import "./src/styles/chatSection.scss";
@import "./src/styles/profilePage.scss";
@import "./src/styles/errorPages.scss";
