.chat-section {
  width: 100%;
  border-left: 1px solid #eaeaea;
  padding: 0 20px;
  position: relative;

  .chat-dialog-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #eaeaea;
    padding: 10px 0;

    .chat-dialog-info-img {
      margin-right: 10px;
      width: 34px;
      height: 34px;
      background-color: #efefef;
      border-radius: 100%;
    }

    .chat-dialog-info-nickname {
      color: #1e1e1e;
      font-size: 13px;
      font-weight: 600;
    }

    .chat-dialog-info-nickname,
    .chat-dialog-info-img {
      cursor: pointer;
    }

    .chat-dialog-options {
      padding: 0 0 0 10px;
    }
  }

  .chat-section-messages-wrapper {
    height: calc(100vh - 112px);
    position: relative;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fbfbfb;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      border: 5px solid transparent;
      border-radius: 100px;
      background-color: #3369f3;
      background-clip: content-box;
    }

    .message-input-field {
      width: 1245px;
      border-top: 1px solid #eaeaea;
      position: fixed;
      bottom: 0;
      padding: 10px 0;
      display: flex;
      align-items: center;

      .inp-value-message {
        .select-file {
          widows: 32px;
          height: 32px;
        }

        svg {
          vertical-align: middle;
        }

        margin: 0 10px;
        width: 100%;

        input {
          min-width: 100%;
          border-radius: 30px;
          border: none;
          background-color: #efefef;
          outline: none;
          padding: 10px 20px;
        }
      }
    }

    .send-message-button {
      widows: 32px;
      height: 32px;

      button {
        vertical-align: middle;
        border: none;
        background-color: unset;
      }
    }

    .message-time-data {
      text-align: center;
      color: #999;
      font-size: 12px;
    }

    .wiii {
      width: calc(+30px);
    }

    .message-left {
      max-width: 400px;
      margin: 10px 0;

      .time-margin {
        margin-left: 94%;
      }

      p {
        margin: 0;
      }

      &__text-wrapper {
        background-color: #f8f8f8;
        display: inline-block;
        position: relative;
        padding: 11px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        border-bottom-left-radius: 15px;
        margin-bottom: 10px;
      }

      &__text {
        font-weight: 500;
        color: #1e1e1e;
        font-size: 12px;
        max-width: 450px;
      }

      &__time {
        right: 10px;
        margin-left: 5px;
        bottom: 9px;
        font-size: 9px;
        font-weight: 500;
        color: #999;
      }
    }
  }
}
