.root-dialogues {
  background-color: #fbfbfb;

  nav {
    padding: 21px 10px 0;
    border-bottom: 1px solid #eaeaea;

    .navigate {
      margin-bottom: 23px;
      display: flex;
      align-items: center;
      justify-content: right;

      span {
        cursor: pointer;
        color: #999;
        font-weight: 600;
        font-size: 12px;
        margin-right: 8px;
      }
    }

    .search-dialog-wrapper {
      padding: 10px 7px;
      margin-bottom: 14px;
      border-radius: 5px;
      background-color: #efefef;

      .search-dialog {
        display: flex;
        align-items: center;
      }

      input {
        width: 100%;
        display: inline-block;
        margin-left: 5px;
        border: none;
        background-color: #efefef;
        outline: none;
      }
    }

    .action-chat-button {
      width: 100%;
      border: 1px solid #3f99ff;
      padding: 5px;
      margin: 2px 0;
      background-color: unset;
      border-radius: 5px;
      cursor: pointer;
    }
  }

  .dialogues {
    width: 250px;
    height: calc(100% - 112px);
    overflow-y: scroll;

    &::-webkit-scrollbar {
      width: 14px;
    }

    &::-webkit-scrollbar-track {
      background-color: #fbfbfb;
      border-radius: 100px;
    }

    &::-webkit-scrollbar-thumb {
      border: 5px solid transparent;
      border-radius: 100px;
      background-color: #3f99ff;
      background-clip: content-box;
    }

    .select-chat {
      background-color: #e4edfd;
    }

    .dialog-item {
      width: 235px;
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px 10px;
      border-bottom: 1px solid #eaeaea;
      cursor: pointer;

      &:hover {
        background-color: #e4edfd;
        transition: 0.3s;
      }

      .delete-button {
        color: red;
        border: 1px solid red;
        padding: 2px;
        border-radius: 100%;
        width: 20px;
        height: 20px;
        line-height: 14px;
        cursor: pointer;
      }

      .item-img {
        width: 47px;
        height: 47px;
        border-radius: 100%;
      }

      .item-nick-name {
        color: #1e1e1e;
        font-size: 12px;
        font-weight: 600;
        margin-left: 5px;
      }

      .item-amount-messages {
        width: 20px;
        height: 20px;
        line-height: 20px;
        border-radius: 100%;
        color: #fff;
        background-color: #3f99ff;
        text-align: center;
        font-size: 11px;
      }
    }
  }
}
