<div class="chat-section-messages-wrapper">
    <div class="message-input-field">
        <div class="select-file cursor-pointer">{{> selectFile }}</div>
        <div class="inp-value-message "><input type="text" placeholder="Сообщение"></div>
        <div class="send-message-button">
            <button class="cursor-pointer">{{> sendMeggageButton }}</button>
        </div>
    </div>

    <h4 class="message-time-data">19 июня</h4>

    <div id="message" class="message-left">
       <div class="message-left__text-wrapper">
         <div class="message-left__text">sadс собько кsadasd sadasd h jhhkj кsadasd sadasd h jhкsadasd sadasd h jhкsadasd sadasd h jhкsadasd sadasd h jhкsadasd sadasd h jh asdas h kj ddassассеты с пленкой.
        
           <span id="time-margin" class="message-left__time">
                      11:56
                </span></div>
                
       </div>

       <div class="message-left__text-wrapper">
         <div class="message-left__text"> a   sdsa asd asd  sdsa asd asd sdsa asd asd sdsa asd asd sdsa asd asd sdsa asd asd sdsa asd asd sdsa asdsssadasd  asd sdsa asd asdsdasd asda sssaода нпродали нпро аукционе за 45000 евро.
            <span id="time-margin" class="message-left__time">
                      11:56
                </span>
           </div>
                
       </div>
    </div>



</div>