<div class="chat-section-messages-wrapper">
    <div class="message-input-field">
        <div class="select-file cursor-pointer">{{> selectFile }}</div>
        <div class="inp-value-message "><input type="text" placeholder="Сообщение"></div>
        <div class="send-message-button">
            <button class="cursor-pointer">{{> sendMeggageButton }}</button>
        </div>
    </div>

    <h1>В разработке</h1>
</div>