<div class='chat-dialog-info'>

  <div class='flex'>
    <div class='chat-dialog-info-img'></div>
    <div class='chat-dialog-info-nickname'>{{userLogin}}</div>
  </div>
  <div class='cursor-pointer chat-dialog-options'>

    {{> dialogMenu }}

  </div>
</div>