<div class='root-dialogues'>
  {{> profileNavigate}}

  <div class='dialogues'>
    {{> dialogItem message-amount=2 message-time='10:49' user-nickname='Андрей' message-text='Друзья, у меня для вас особенный выпуск новостей!...'}}
    {{> dialogItem message-amount=5 message-time='12:49' user-nickname='Витя' message-text='И Human Interface Guidelines и Material Design рекомендуют...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='Тамерлан' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
    {{> dialogItem message-amount=1 message-time='14:21' user-nickname='dddddd' message-text='Миллионы россиян ежедневно проводят десятки часов свое...'}}
  </div>
</div>