<div class='dialog-item'>
  <div class='item-img'>
  </div>

  <div class='item-info-wrappper'>
    <div class='item-info'>
      <div class='item-nickName'>{{user-nickname}}</div>
      <div class='time'>{{message-time}}</div>
    </div>
    <div class='item-info'>
      <div class='item-text'>
        {{message-text}}
      </div>
      <div class='item-amount-messages'>
        {{message-amount}}
      </div>
    </div>
  </div>
</div>