@import "./styles/authPage";
@import "./styles/dialoguesComponent";
@import "./styles/chatSection";
@import "./styles/profilePage";
@import "./styles/errorPages";

* {
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

body {
  margin: 0;
  background-color: #efefef;
  overflow: hidden;
}

.main {
  display: flex;
  max-width: 1600px;
  height: 100vh;
  margin: auto;
  background-color: #fff;
}

.no-styles {
  background-color: unset;
  border: none;
  display: block;
}

.flex {
  display: flex;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}
