<div class='profle-page-wrapper'>
  <div
    onclick="window.renderPage('profile')"
    class='back-button-wrapper cursor-pointer'
  >
    <div class='back-button'>{{>leftButtonBackToHome}}</div>
  </div>
  <div class='info-profile-wrapper-block'>
    <div class='profile-avatar'>
        {{>profileAvatar}}
    </div> 

    <div class="profile-info-block">
        <div class='profile-info-flex-block'>
            <div class='profile-key'>Старый пароль</div>
            <input type='password' placeholder='*********' />
        </div>
        <div class='profile-info-flex-block'>
            <div class='profile-key'>Новый пароль</div>
            <input type='password' placeholder='*********' />
        </div>
        <div class='profile-info-flex-block'>
            <div class='profile-key'>Повторите новый пароль</div>
            <input type='password' placeholder='*********' />
        </div>
    </div>

    <div  onclick="window.renderPage('profile')">
      <button class="save-data-button no-styles cursor-pointer">Сохранить</button>
    </div>
    
  </div>
</div>